{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/Login.css' %}">
    </head>

    <body>
        <main>
            Create account.<br>
            <form method="post">
                <input name='username'  type="text" placeholder="username"><br>
                <input name='password1' type="text" placeholder="password"><br>
                <input name='password2' type="text" placeholder="password confirmation"><br>
                <input name='email'     type="text" placeholder="email (optional)"><br>
                <button type="submit">Register</button>
            </form>
        </main>
    </body>
</html>

