{% extends 'base.html' %}
{% load static %}


{% block title %}Hangboard-Timer - fsweb{% endblock %}


{% block morelinks %}
<link rel="stylesheet" type="text/css" href="{% static 'tools/css/hangboard-timer.css' %}">
{% endblock %}


{% block content %}
<h1>Hangboard Timer</h1>
<p>Increase your finger strength! Routine adopted from <a href="https://www.youtube.com/watch?v=3FNZdixeuZw">this</a> video.</p>

<div class="timer-container">
    <div id="countdown"></div>
    <div id="exercise_state"></div>
    <div id="exercise_name"></div>
    <div class="button-container">
        <button id="btn-start">Start</button>
        <button id="btn-reset">Reset</button>
    </div>
</div>

<script src="{% static 'tools/js/hangboard-timer.js' %}"></script>
{% endblock %}
