<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
        Welcome to my Hangboard Timer tool!

        <p id="timer">Timer</p>
        <button type="btn" onclick="timer_start()">Start</button>

    </body>

    <script type="text/javascript">
    // Todo: Using the just interval can cause the timer to get inaccurate
    //       the longer it goes on or the laggier it is.
    //       Therefore we need to do sth. like Time.now - Time.start.
    //       Also, make the interval duration shorter.
    let element = document.getElementById("timer");
    let interval_id = null;
    let timer_seconds;
    function timer_start() {
        if (interval_id !== null) {
            timer_stop();
        }
        timer_seconds = 10;
        element.innerHTML = timer_seconds;
        interval_id = setInterval(timer_update, 1000);
    }
    function timer_update() {
        timer_seconds -= 1;
        element.innerHTML = timer_seconds;
        if (timer_seconds === 0) {
            timer_stop();
        }
    }
    function timer_stop() {
        if (interval_id !== null) {
            clearInterval(interval_id);
            interval_id = null;
        }
    }
    </script>

</html>

