<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
        <nav>
            <div>
                <a href="/">Home</a>
            </div>

            <div>
                <ul>
                    <li>
                        <a href="/cultivation">Cultivation</a>
                    </li>
                    <li>
                        <a href="/tools">Tools</a>
                    </li>
                    <li>
                        <a href="/shop">Shop</a>
                    </li>
                </ul>
            </div>

            <div>
                <a href="/login">
                    <button type="button">Log In</button>
                </a>
                <a href="/signup">
                    <button type="button">Sign Up</button>
                </a>
            </div>

        </nav>

        Welcome to my first Django project!

    </body>
</html>

