<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
        <h1>Hello World!</h1>
        <p>Welcome to my first Django project!</p>

        <nav>
            <ul>
                <li>
                    <a href="/journal">Journal</a>
                </li>
                <li>
                    <a href="/nutrition">Nutrition</a>
                </li>
                <li>
                    <a href="/shop">Shop</a>
                </li>
                <li>
                    <a href="/tools">Tools</a>
                </li>
            </ul>
        </nav>
    </body>
</html>
