{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>fsweb</title>
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    </head>

    <body>
        <main>
            Welcome to my website!
            <div>
                Web Apps
                <ul>
                    <li>
                        <a href="/hangboard-timer">Hangboard Timer</a>
                    </li>
                    <li>
                        <a href="/fitness-tracker">Fitness Tracker</a>
                    </li>
                </ul>
            </div>

            <div>
                My Code
                <ul>
                    <li>
                        <a href="https://github.com/fschildt/fsweb">
                            fsweb - My Homepage
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/fschildt/fscord">
                            fscord - Chat Program
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/fschildt/fsarcade">
                            fsarcade - Tetris
                        </a>
                    </li>
                </ul>
        </main>
    </body>
</html>

