{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2>{{ date|date:"Y-m-d" }}</h2>
<form action="{% url 'fitness:brain' %}" method="post">
    {% csrf_token %}
    <label for="material-input">Material</label>
    <input id="material-input" name="material" type="search" list="materials-list" autocomplete="on">
    <br><br>

    <label for"duration-input">Duration</label>
    <input id="duration-input" name="duration" type="text" pattern="^(?:(?:[0-1]\d|2[0-3]):[0-5]\d:[0-5]\d|[0-5]?\d:[0-5]\d)$">
    <br><br>

    <input type="submit" value="Submit">
</form>

<h2>Summary</h2>
<table>
    <tr>
        <th>Material</th>
        <th>Duration</th>
    </tr>
    {% for event in brain_events %}
    <tr>
        <td>{{ event.material.name }}</td>
        <td>{{ event.duration }}</td>
    </tr>
    {% endfor %}
</table> 

<datalist id="materials-list">
    {% for name in brain_material_names %}
    <option value="{{ name }}">
    {% endfor %}
</datalist>
{% endblock %}
