{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Fitness Tracker</title>
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    </head>

    <body>
        <main>
            <a href="{% url 'fitness:strength' %}">Strength</a><br>
            <a href="{% url 'fitness:cardio' %}">Cardio</a><br>
            <a href="{% url 'fitness:flexibility' %}">Flexibility</a><br>
            <br>
            <br>
            <a href="{% url 'fitness:hangboard_timer' %}">Hangboard Timer</a>
        </main>
    </body>

</html>

