{% extends 'base.html' %}
{% load static %}

{% block morelinks %}
<link rel="stylesheet" type="text/css" href="{% static 'fitness/css/strength.css' %}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="strength-menu-container">
<h2>Summary</h2>
<h2><a href="{% url 'fitness:strength_add' %}">Add Event</a></h2>
</div>

<div class="strength-table-container">
    <table class="strength-table">
        <tr>
            <th>Date</th>
            <th>Exercise</th>
            <th>Weight</th>
            <th>Repetitions</th>
            <th></th>
            <th></th>
        </tr>
        {% for event in strength_events %}
        <tr>
            <td>{{ event.date|date:"Y-m-d" }}</td>
            <td>{{ event.exercise }}</td>
            <td>{{ event.weight }}</td>
            <td>{{ event.reps }}</td>
            <td>
                <form action="{% url 'fitness:strength_edit' event.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="edit-btn">Edit</button>
                </form>
            </td>
            <td>
                <form action="{% url 'fitness:strength_delete' event.id %}" method="POST" style="display: inline">
                    {% csrf_token %}
                    <button type="submit" class="delete-btn" onclick="return confirm('Are you sure you want to delete this entry?')">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table> 
</div>
{% endblock %}

